<div id="tabs">
	<ul>
		<li>FEATURED FLASK</li>
		<li>5% BACK</li>
		<li>FIND A STORE</li>
	</ul>
	<div id="fragment-1">
		<hr class="dividing_line">
		<p class="bold">24 oz. Narrow Mouth</p>
		<p>Consectetur adipising elit. Donec eleithend tincidunt malesuada. Nullam sit amet quarn est.</p>
		<p class="link"><a href="#">Shop this flask >></a></p>
	</div>
	<div id="fragment-2">
		<div class="center" id="fiveback_div">
			<%= image_tag "five-back-new.png", alt: "Five Percent Back", title: "Five Percent Back" %>
		</div>
		<hr class="dividing_line">
		<p>Consectetur adipising elit. Donec eleithend tincidunt malesuada. Nullam sit amet quarn est.</p>
		<p class="link"><a href="/pages/5-back">Learn more >></a></p>
	</div>
	<div id="fragment-3">
		<%= form_tag "/stores", method: "get" do %>
			<div class="form-row">
				<input type="text" name="location" id="location" placeholder="Enter zip code" /><input type="image" src="<%= asset_path "submit_button.png" %>" />
			</div>
		<% end %>
		<h2 id="hydroflask_stories">HYDRO FLASK STORIES</h2>
		<div class="left" id="hydroflask_stories_div">
			<p class="alt_color left">Where has your flask taken you?</p>
			<%= image_tag "share_button.png", class: "right", alt: "Share", title: "Share" %>
		</div>
	</div>
</div>