<%# NOTE: this is used for scoped orders as well -- ie. only the orders for a particular customer account %>
<table style="width:30%;">
  <tr>
    <th>Order #</th>
    <th>Order Date</th>
    <th style="text-align:right;">Sales Total</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.invoice_number %></td>
    <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
    <td style="text-align:right;"><%= number_to_currency order.payment_total_cost %></td>
    <td style="text-align:right;"><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>