<p style="margin-bottom:.5em;"><span class="label">Shipping:</span><span class="right"><%= number_to_currency(@order.shipping_cost) %></span></p>
<p style="margin-bottom:.1em;"><span class="label">Tax:</span><span class="right"><%= number_to_currency(@order.tax) %></span></p>
<p style="font-weight:bold;"><span class="label">Total:</span><span class="right" id="grand_total"><%= number_to_currency(@order.payment_total_cost) %></span></p>