<div id="checkout_page">
	<h1>Checkout</h1>
	<div id="cart_panel">
		<h2>Your Cart</h2>
  		<%= render partial: 'carts/item', collection: current_cart.line_items %>
	</div>
	<div id="form_panel">
		<% unless current_account %>
			<h2>Have an account?<%=render "sign_in_form"%></h2>
		<%else%>
			<h2>Signed in as <%=current_account.email%></h2>
		<%end%>
		<%= render 'form' %>
	</div>
</div>