<%# NOTE: this view is no longer used, but is being kept here just in case %> 
<br/>
<h2>Sorry, your order payment could not be processed.</h2>
<br/>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%#= link_to "Retry your order", new_order_path(:the_order_id => @order.id, :sm => @order.shipping_method_id) %>
<a href="<%= new_order_path(:the_order_id => @order.id, :sm => @order.shipping_method_id) %>" class="button hydro_big_button" id="retry_your_order" style="float:left;">&lt; RETRY YOUR ORDER</a>
      
<a href="pages/contact-hydro-flask" class="button hydro_big_button" id="retry_your_order" style="float:right;">CONTACT SUPPORT</a>
<br/>
<br/>