<% provide(:meta_title, @page.meta_title) %>
<% provide(:meta_description, @page.meta_description) %>
<% provide(:meta_keywords, @page.keywords) %>
<div id="page" class="tech">
  <div id="breadcrumb"><%= link_to "Home", root_url %> &raquo; <%= @page.title %></div>
  <h1><div style="float:left;"><%= @page.title %></div><div style="float:right;"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_google_plusone" g:plusone:size="medium"></a><a class="addthis_button_pinterest_pinit"></a></div></h1>
  <div class="main_content" style="background-image:url(/assets/tech-flask.png), url(/assets/tech-water.jpg);background-repeat:no-repeat;background-position: right top, left bottom; min-height: 895px;"><h2>Innovation in a Flask</h2><p>You never knew science could be so cool...<br>or even hot on the other hand.</p>
  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51d8b57643b8a401"></script>