/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fancybox/jquery.fancybox
 */
/*
 *= require jquery.ui.all
 */
@import "compass/css3/border-radius";
@import "variables";

@font-face {
  font-family: 'Pragmatica';
  src:font-url('27A4D40.eot');
  src:font-url('27A4D40.eot?#iefix') format('embedded-opentype'),
  font-url('27A4D40.woff') format('woff'),
  font-url('27A4D40.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica1';
  src:font-url('27A4D41.eot');
  src:font-url('27A4D41.eot?#iefix') format('embedded-opentype'),
  font-url('27A4D41.woff') format('woff'),
  font-url('27A4D41.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica2';
  src:font-url('27A4D42.eot');
  src:font-url('27A4D42.eot?#iefix') format('embedded-opentype'),
  font-url('27A4D42.woff') format('woff'),
  font-url('27A4D42.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica3';
  src:font-url('27A4D43.eot');
  src:font-url('27A4D43.eot?#iefix') format('embedded-opentype'),
  font-url('27A4D43.woff') format('woff'),
  font-url('27A4D43.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica4';
  src:font-url('27A4D44.eot');
  src:font-url('27A4D44.eot?#iefix') format('embedded-opentype'),
  font-url('27A4D44.woff') format('woff'),
  font-url('27A4D44.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #efefef;
    font-size:12px;
    font-family: Pragmatica, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

#body_wrapper {
  float:left;
  background-color:#ffffff;
}

h1 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: #00AAFF;
    font-weight: normal;
    height: 55px;
    line-height: 58px;
    margin: 20px 0;
    padding: 0 10px;
    text-transform: uppercase;

    font-family: Pragmatica2;
    font-size: 2.3em;
    letter-spacing: 3px;

}

a {
	color: $primary_color;
	text-decoration: none;
}

a:hover {
	color: $secondary_color;
}

ul {
	list-style-type: none;
}

input[type="text"], input[type="password"] {
    border: 1px solid #CCCCCC;
    color: #777777;
    height: 28px;
    padding-left: 5px;
}

footer {
  background-color:$background_color;
}

footer input[type="text"], footer input[type="password"] {
	height:30px;
    color: $input_text_color;
    padding-left:5px;
    border:none;
}

p {
	margin: 0 0 .8em 0;
}

p.link {
	/* margin: .7em 0 .7em 0; */
	font-weight:bold;
}

p.alt_color {
	color: $tertiary_color;
}

.form-row input[type="image"] {
	vertical-align:top;
}

.panel {
    text-align:left;
	float: left;
	height:100%;
	width: 33%;
    background-color: $background_color;
    .inner-panel {
        float:left;
        width:90%;
        padding: 5% 5% 0 5%;
    }
}

.form-row{
    height:30px;
}

.wrapper {
	margin-left:auto;
	margin-right:auto;
	#left: 0;
    min-width: 1000px;
    #position: absolute;
    text-align: center;
    width: 100%;
    z-index: 50;
}

header .wrapper {
    background: url(/assets/header.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer .wrapper {
    height:auto;
    background-color: $background_color;
}

header .no-background {
    background:none;
}

#headerWrapper, #footerWrapper, #contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 122px;
    position: relative;
    text-align: left;
}

#footerWrapper {
    height:200px;
}

#contentWrapper {
    height:auto;
    margin-top: 6px;
}

#logo {
	height: 114px;
    background: rgba(0, 0, 0, 0.7);
	float: left;
}

header nav {
	float: right;
	ul {
        margin-top:20px;
        @include border-radius(4px);
        float: left;
        background-color:#ffffff;
        padding: 0 10px 0 10px;
        -moz-box-shadow:    1px 1px 3px 1px #ccc;
        -webkit-box-shadow: 1px 1px 3px 1px #ccc;
        box-shadow:         1px 1px 3px 1px #ccc;
        li {
            height: 32px;
            font-size: 1em;
            line-height:34px;
            padding-left: 10px;
            padding-right: 10px;
    		    float: left;
            font-family: Pragmatica2;
            a {
                color: $secondary_color;
            }
            a:hover {
                color: $primary_color;
            }
            a.primary-color {
                color: $primary_color;
            }
            ul {
              margin:-2px 0 0 -20px;
              padding:0 20px 20px 20px;
              z-index:999;
              @include border-radius(0,4px);
              position:absolute;
              background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
              width:336px;
              height:330px;
              display:none;
              box-shadow:none;
              li{
                margin:0;
                display:block;
                padding:0;
                height:auto;
                float:left;
                color:#ffffff;
                width:154px;
                a {
                  color: #ffffff;
                  font-size:.9em;
                }
                ul {
                  -moz-box-shadow:    none;
                  -webkit-box-shadow: none;
                  box-shadow:         none;
                  background:transparent;
                  float:none;
                  padding:0;
                  margin:0;
                  width:154px;
                  height:auto;
                  position:relative;
                  li{
                    float:none;
                    line-height:18px;
                  }
                }
              }
              li.category {
                text-transform:uppercase;
                font-size:1.1em;
                margin-top:10px;
              }
              li.nav_column_right {
                padding-left:20px;
              }
              li:first-child {
                padding-left:0;
              }
              li:hover {
                background:none;
              }
            }
    	  }
        li:first-child {
          padding-left: 10px;
        }
        li:hover {
          background-color: #000000;
          color: $primary_color;
        }
        li:hover a {
          color: $primary_color;
        }
        li:hover ul{
          display:block;
        }
        li:hover ul li a{
          color: #ffffff;
        }
        li:hover ul li a:hover {
          color:$primary_color;
        }
        li.selected {
            background-color: $selected_nav_color;
            a {
                color: $primary_color;
            }
        }
    }
}

footer h3 {
    font-weight:normal;
    margin-bottom:.5em;
    font-size:12px;
}

#footer-nav-div {
    width:150px;
}

#footer-email-updates {
    width:auto;
}

#footer-nav {
    width:150px;
}

#footer-nav li {
    margin-bottom: 6px;
}

#footer-nav li a {
    color: $secondary_color;
}

#footer-nav li a:hover {
    color: $primary_color;
}

#footer-copy {
    float: left;
    font-size: 0.9em;
    margin-top: 30px;
    margin-left:2%;
}

footer p {
    color: $footer_text_color;
    margin-bottom: 1em;
}

#footer-social-nav ul li {
	float: left;
    margin-right:5px;
}

.no-background {
    background:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.center {
    text-align:center;
}

.clear {
    clear:both;
}

.bold {
    font-weight:bold;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.fifty_percent {
    width: 50%;
}

footer .panel .inner-panel {
    padding: 4% 2% 0 2%;
    width:46%;
}

#hman-div {
    float:left;
    margin-top:6%;
}

#footer_email_box {
    width:225px;
}

#footer_search_box {
    width: 190px;
}

#h_man {
    float:left;
    margin-right:6%;
}

footer #wrapper {
    border-top: 2px solid #FFFFFF;
}

#breadcrumb {
    font-size: 90%;
}

#breadcrumb a {
    color: $secondary_color;
}

#breadcrumb a:hover {
    color: $primary_color;
}

.hydro_button {
    font-size: 1.1em;
    line-height:40px;
    height:40px;
    background-color: $heading_color;
    color: #fff;
    padding: 0 15px 0 15px;
    cursor:pointer;
}

.admin_links {
    clear:both;
}

.admin_table {
    width:100%;
}

.admin_table tr {
    margin: 10px 0 10px 0;
}

#breadcrumb {
  padding-left:10px;
}

.field {
  float:left;
  width: 100%;
  padding-bottom: 20px;
}

.actions {
  margin: 20px 0 20px 0;
  float:left;
  text-align:right;
  width: 100%;
}

input[type='submit'].button, a.button {
  border:none;
  background-color: $heading_color !important;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  height: 34px;
  line-height: 34px;
  position: relative;
  padding: 0 10px 0 10px;
  font-family: Pragmatica2, Helvetica, Arial, sans-serif;
}

.field_with_errors {
  label {
    color:red;
  }
  input[type="text"], input[type="password"] {
    border: 1px solid red;
  }
}
#form_handle.button{
  font-size: 20px;
  display: inline-block;
}
#print_handle.button{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
  background: url(/assets/print_icon.png) no-repeat 90% center;
  padding-right: 40px;
}
@media print{
  footer, #print_handle.button, nav#homepage-nav{
    display: none;
  }
}
