// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#cart_page #cart_table {
	width: 100%;
	border-collapse:collapse;
	margin:20px 0  20px 0;
}

#cart_page #cart_table img {
	height: 150px;
}

#cart_page #cart_table thead tr {
	background-color: $heading_color;
	color: #fff;
	font-size: 1em;
}

#cart_page #cart_table thead tr th{
	padding:5px;
	margin:0;
}

#cart_page #cart_table tbody tr {
 border-bottom:solid 1px #00AAFF;
}

#cart_page #cart_table tbody tr:last-child{
	border:none;
}

#cart_page #cart_table tbody tr td{
	padding:10px 5px 5px 5px;
	margin:0;
	vertical-align: top;
}

#cart_page .center {
	text-align:center;
}

#cart_page .content_box {
	background-color: $background_color;
	margin-bottom:10px;
	float:left;
	.content_box_wrapper {
		padding:10px;
		float:left;
	}
}

#cart_page #checkout {
    background-color: #00AAFF !important;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 1.3em;
    height: 34px;
    line-height: 34px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    width: 100%;
    .cart_wrapper {
        padding-left: 10px;
    }
}

#cart_page .checkout_wrapper {
	padding: 0 10px 0 10px;
}

.cart_item {
    background-color: #EFEFEF;
    float: left;
    width:90%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
	.cart_item_info {
		height:120px;
		vertical-align: middle;
		display: table-cell;
	}
	img {
		height:120px;
		float:left;
		margin-right:10px;
	}
}

#cart_page #cart_right_box {
	width:250px;
	float:right;
}

#cart_page .right_box {
    background-color: #EFEFEF;
    float: right;
    padding: 10px;
    margin-bottom:10px;
    width: 100%;
}

#cart_page #promo_text {
    float: left;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}

#cart_page #shipping_text {
	float:left;
}

#cart_page #customers_bought {
    background-color: #EFEFEF;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 680px;
}

#cart_page .related_product {
	float:left;
	width:25%;
	.image {
		text-align:center;
	}
	a {
		color: #000000;
	}
	a:hover {
		color: $primary_color;
	}
}

#cart_page .shipping-list {
	li {
		text-align:right;
	}
}