@import "variables";

#category_content .category_row {
	float:left;
	width: 100%;
	background-color: #EFEFEF;
	clear:both;
	margin-bottom: 20px;
}

#category_content h1 {
    margin-top: 5px;
}

#category_content h2 {
    background-color: #00AAFF;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 1.3em;
    font-family: Pragmatica2;
    letter-spacing:2.4px;
    height: $button_height;
    line-height: $button_line_height;
    margin: 0 0 14px;
    padding-left: 10px;
    position: relative;
    text-transform: uppercase;
    width: 25%;
}

#category_content h2:after {
    border-color: $heading_color transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    bottom: -10px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    width: 0;
}

#category_content .category_row {
	margin-top: -15px;
	padding-bottom: 20px;
}

#category_content .category_product {
	float: left;
	width: 25%;
}

#category_content .category_product .product_wrapper {
	padding: 10px 20px 10px 20px;
}

#category_content .category_product .image {
	text-align:center;
}

#category_content .category_product .image img {
	width:60%;
}

#category_content .category_product h3 {
	font-size: 1em;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:8px;
}

#category_content .category_product h3 a {
	color: $secondary_color;
}

#category_content .category_product h3 a:hover {
	color: $primary_color;
}

#category_content .category_product .content_wrapper {
	float:left;
	width:100%;
	clear:both;
	margin:8px 0;
}

#category_content .category_product .content_wrapper .price {
	float:left;
	width: 50%;
}

#category_content .category_product .content_wrapper .rating {
	float:left;
	width: 50%;
}

#category_content div.color_circle {
    background: none repeat scroll 0 0 #000000;
    border-radius: 6px 6px 6px 6px;
    height: 12px;
    line-height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

#category_content div.white_circle  {
	border:1px solid #000;
	width:10px; 
	height:10px;
}

#category_content div.colors {
    margin-top: 5px;
    float:left;
    width: 100%;
}