@import "variables";

html, body, #homeslidewrapper {
	height: 100%;
}

.home_wrapper {
	position:absolute;
	left:0;
}

h2 {
    font-weight:bold;
    color: $primary_color;
    letter-spacing:.8px;
    font-size:1.3em;
    margin-bottom: .5em;
}

#homeContentWrapper {
    z-index: 60;
    min-width: 1000px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height:225px;
}

#homeContent {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 100%;
}

#homeslideposition {
	height: 87%;
    min-width:1000px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#homeslidenavouter {
    margin: 0 auto;
    position: relative;
    width: 980px;
    z-index: 45;
}

#homeslidewrapper {
	height: 100%;
	left:0;
	overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 40;
}

#homeslidebox {
    height: 100%;
    position: relative;
    width: 100%;
}

#homeslidenavlinks {
    bottom: 20px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

#navarrowleft {
    left: 5px;
}

.homeslide {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.homeslidediv {
    /*overflow: hidden;*/
    position: relative;
    height:100%;
}

.homeslidediv img {
    width:100%;
    /*height:100%;*/
}

.navarrow {
    cursor: pointer;
    display: none;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: 295px;
    transition: opacity 0.4s ease-in-out 0s;
}

.touch .navarrow, .navarrow.touch {
    opacity: 0.6;
}
#navarrowleft {
    left: 5px;
}
#navarrowright {
    right: 5px;
}
#homeslideposition:hover .navarrow {
    opacity: 0.6;
}
#homeslideposition:hover .navarrow:hover {
    opacity: 1;
}
#homeslidenavlinks {
    bottom: 20px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
#homeslidenavlinks li {
    display: inline-block;
}
#homeslidenavlinks img {
    background: url("/assets/pagination-dots.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
#homeslidenavlinks img.active {
    background-position: -60px 0;
}
#homeslidebox {
    height: 100%;
    position: relative;
    width: 100%;
}
.homeslide {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
#homeslideA {
    left: -100%;
}
#homeslideC {
    left: 100%;
}
.homeslidediv {
    /*overflow: hidden;*/
    position: relative;
}
.desktop .homeslidediv {
    position: absolute;
}
.homeslidediv img {
    width: 100%;
}
.homeslidewindowabs {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.homeslidewindow {
    margin: 0 auto;
    position: relative;
    width: 900px;
}
.homeslidepromobox {
    bottom: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}
a.homeslidepromo {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    display: inline-block;
    margin: 10px;
    padding: 50px 30px;
    text-transform: uppercase;
    width: 180px;
}
a.homeslidelayer {
    background: url("/assets/clear.gif") repeat scroll 0 0 transparent;
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -5000px;
    z-index: 3;
}



.featured-panel img {
    float:right;
}

.featured-text {
    float:left;
    width: 65%;
}

.dividing_line {
    margin-bottom: 10px;
}

#hydroflask_stories {
    margin-top:20px;
}

#hydroflask_stories_div p{
    margin:10px 5px 0 0;
}

#fiveback_div{
    margin-bottom:10px;
}
#checkout_page .new_account{
    position: relative;
    margin-bottom:40px;
    .errors{
        color: #CC0000;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    input[type="text"], input[type="email"], input[type="password"]{
        width:200px;
    }
    input[type="submit"]{
        border: none;
        background-color: #00aaff !important;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        height: 30px;
        line-height: 30px;
        position: relative;
        padding: 0 10px 0 10px;
    }
}

// blue background for email/pw sign-in and sign-up forms
#hydro_account_panel {
	padding: 20px;
	padding-right: 200px;
	
	// FIXME: this is repeated; change to be connected to a special class we'll give to all the login submit buttons
	input[type="submit"]{
        border: none;
        background-color: #00aaff !important;
        cursor: pointer;
        color: #fff;
        height: 30px;
        font-size: 1.1em;
        line-height: 30px;
        position: relative;
        padding: 0 10px 0 10px;
    }
	
}

#photoposition .photoCredits {
    bottom: 40px;
}
.photoCredits {
    bottom: 16px;
    color: #000000;
    font-size: 12px;
    line-height: 1.5em;
    position: absolute;
    right: 18px;
    text-align: left;
    z-index: 20;
}

#photoposition {
    position: absolute;
    right: 0;
    z-index:99;
}

.infoicon {
    background: url("/assets/home-bottle.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    top: 2px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    width: 11px;
    z-index: 10;
}

.photoContent {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);*/
    border-radius: 2px 2px 2px 2px;
    bottom: -5000px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    transition: oopacity 0.3s linear 0s, bottom 0s linear 0.3s;
    width: 200px;
    z-index: 2;
}

.photoCredits:hover .photoContent {
    /*bottom: 0 !important;*/
    bottom: -450px !important;
    opacity: 1;
    transition: oopacity 0.3s linear 0s, bottom 0s linear 0s;
}
.photoCredits:hover .infoicon {
    background-position: -500px 0;
}

#tabs ul {
    bottom: 0;
    left: 50.2%;
    position: absolute;
    z-index: 99;
    li {
        .tab{
            padding:10px 10px 6px 10px;
            /*border-radius: 4px 4px 0 0;*/
            /*box-shadow: 0 0 7px -1px #999999;*/
            width: 133px;
            height:22px;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
        }
        .tab_content {
            /*border-radius: 0 4px 0 0;*/
            /*box-shadow: 0 0 7px -1px #999999;*/
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
            /*margin-bottom: -38px;*/
            padding:10px;
            text-align:left;
            float:left;
            a:hover{
                color: #fff;
            }
        }
        /*box-shadow: 0 0 7px -1px #999999;
        padding:10px 10px 0px 10px;*/
        font-size:1em;
        margin-right:10px;
        float:left;
        color:#ffffff;
        /*width:130px;*/
        cursor:pointer;
    }
}

#tabs {
    position:absolute;
    bottom:0;
    z-index:999;
    width:100%;
}

#swipeview-slider div {
    overflow: hidden;
}