@import "variables";

html, body, #homeslidewrapper {
	height: 100%;
}

.home_wrapper {
	position:absolute;
	left:0;
}

h2 {
    font-weight:normal;
    color: $primary_color;
    letter-spacing:2px;
    font-size:1.3em;
    margin-bottom: .5em;
}

#homeContentWrapper {
    z-index: 60;
    min-width: 1000px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height:225px;
}

#homeContent {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 100%;
}

#homeslideposition {
	/*height: 87%;
    min-width: 1620px;*/
    height:100%;
    min-width:920px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#homeslidenavouter {
    margin: 0 auto;
    position: relative;
    width: 980px;
    z-index: 45;
}

#homeslidewrapper {
	height: 100%;
	left:0;
	overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 40;
}

#homeslidebox {
    height: 100%;
    position: relative;
    width: 100%;
}

#homeslidenavlinks {
    bottom: 20px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

#navarrowleft {
    left: 5px;
}

.homeslide {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.homeslidediv {
    overflow: hidden;
    position: relative;
    height:100%;
}

.homeslidediv img {
    width:100%;
    /*height:100%;*/
}

.navarrow {
    cursor: pointer;
    display: none;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: 295px;
    transition: opacity 0.4s ease-in-out 0s;
}

.touch .navarrow, .navarrow.touch {
    opacity: 0.6;
}
#navarrowleft {
    left: 5px;
}
#navarrowright {
    right: 5px;
}
#homeslideposition:hover .navarrow {
    opacity: 0.6;
}
#homeslideposition:hover .navarrow:hover {
    opacity: 1;
}
#homeslidenavlinks {
    bottom: 20px;
    left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
#homeslidenavlinks li {
    display: inline-block;
}
#homeslidenavlinks img {
    background: url("/assets/pagination-dots.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
#homeslidenavlinks img.active {
    background-position: -60px 0;
}
#homeslidebox {
    height: 100%;
    position: relative;
    width: 100%;
}
.homeslide {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
#homeslideA {
    left: -100%;
}
#homeslideC {
    left: 100%;
}
.homeslidediv {
    overflow: hidden;
    position: relative;
}
.desktop .homeslidediv {
    position: absolute;
}
.homeslidediv img {
    width: 100%;
}
.homeslidewindowabs {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.homeslidewindow {
    margin: 0 auto;
    position: relative;
    width: 900px;
}
.homeslidepromobox {
    bottom: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}
a.homeslidepromo {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    display: inline-block;
    margin: 10px;
    padding: 50px 30px;
    text-transform: uppercase;
    width: 180px;
}
a.homeslidelayer {
    background: url("/assets/clear.gif") repeat scroll 0 0 transparent;
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -5000px;
    z-index: 3;
}



.featured-panel img {
    float:right;
}

.featured-text {
    float:left;
    width: 65%;
}

.dividing_line {
    margin-bottom: 10px;
}

#hydroflask_stories {
    margin-top:20px;
}

#hydroflask_stories_div p{
    margin:10px 5px 0 0;
}

#fiveback_div{
    margin-bottom:10px;
}
