@import "variables";

#page h1{
 border-top:none;
 margin-top:10px;
}

#page .header_content {
	background-color: $background_color;
	color: $heading_color;
	font-size: 2.5em;
	padding:30px;
	position:relative;
	margin-bottom:20px;
	line-height: 38px;
}

#page h1 a {
	float:left;
	margin-right: 10px;
}

#page h1 a:last-child {
	margin-right:0;
}

#page h1 a.addthis_button_pinterest_pinit{
	margin-top: 16px;
}

#page h1 a.addthis_button_google_plusone {
	width: 60px;
}

#page.tech .header_content{
	font-size: 6em;
	padding:0;
	line-height:auto;
	float:left;
	width:100%;
}

#page.five_back .header_content {
	padding:0;
	line-height:auto;
	float:left;
	width:100%;
}


#page.tech .header_content img, #page.five_back .header_content img {
	float:right;
}

#page.five_back .header_content img {
	margin-right:20px;
}

#page .addthis_button_tweet {
	width: 76px !important;
}

#page .twitter-share-button {
	width: 76px !important;
}

#page.tech .header_content p {
	float:left;
	margin-left:20px;
	margin-top:74px;
}

#page.five_back .header_content p {
  float: left;
  margin: 0;
  padding: 30px;
  width: 660px;
}

#page .header_content:after {
    border-color: $background_color transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    bottom: -10px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    width: 0;
}

#page .header_content p{
	margin:0;
}

#page .main_content {
	float: left;
	width: 100%;
	font-size: 1.1em;
}

#page .left_content {
	width: 75%;
}

#page .main_content_inner {
	float: left;
  margin-left: 28px;
  margin-right: 20px;
}

#page .right_content {
	float:left;
	width:25%;
}

#page.tech .left_content {
	width: 60%;
}

#page.tech .right_content {
	width: 40%;
}

#page.social .left_content {
	width: 220px;
	float:left;
}

#page.social .right_content {
   min-width: 700px;
   padding-left: 20px;
}

#page.tech .left_content ol {
	list-style-type:none;
}

#page.tech .left_content ol li {
	width: 100%;
	float:left;
	background-color: $background_color;
	margin-bottom: 20px;
	div.number {
		float:left;
		width:10%;
		color: #ffffff;
		text-align:center;
		font-size: 2em;
		padding-top: 5px;
    min-height: 120px;
		background-color: $heading_color;
	}
	div.number.primary-background-color {
		background-color: $primary_color;
	}
	div.content:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(239, 239, 239, 0);
		border-right-color: #EFEFEF;
		border-width: 10px;
		top: 12px;
		/*margin-top: -10px;*/
	}
	div.content {
		h2 {
			color: $heading_color;
		}
		.inner{
    	font-size: 0.9em;
    	padding: 5px 5px 5px 10px;
    }
		position:relative;
		width:90%;
		float:left;
	}
	div.content h2.primary-color {
		color: $primary_color;
	}
}

#page .right_content div.box {
	background-color: $background_color;
	margin-bottom:20px;
	padding:20px;
}

#page .right_content h3 {
	text-transform: uppercase;
	color: $heading_color;
	margin-bottom: 5px;
}

#page .right_content ul li a {
	color: #000000;
}

#page .div_button {
    background-color: #00AAFF !important;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 1.1em;
    height: 34px;
    line-height: 34px;
    position: relative;
    .button_wrapper {
    	 padding: 0 10px;
    }
}

#page #donate_button {
	height: 46px;
	line-height: 46px;
	font-size: 1.4em;
	width: 100%;
	text-align: center;
}

.charity_detail {
	img {
		float:left;
		margin-right:20px;
	}
	p {
		float:left;
		width: 400px;
	}
}

#page.social h3 {
	color: $heading_color;
	font-weight:normal;
	border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding-bottom: 10px;
	width:160px;
}

#page.social #join_us li{
	a {
		color: #000000;
		img{
			float:left;
			margin-right:5px;
		}
		div {
			float:left;
			padding-top:7px;
		}
	}
	a:hover {
		color: $primary_color;
	}
	height:30px;
	margin-bottom: 10px;
}

#page.social #add_content {
	margin-bottom: 20px;
}

#page.social div.article {
	h2 {
		font-size: 1.6em;
		margin-bottom: 0;
	}
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid black;
	p.shared_by {
		font-style:italic;
		margin-bottom:3px;
		color: #777777;
		.shared_by_name {
			font-style: normal;
		}
	}
	p.posted {
		color: #777777;
	}
	p.image {
		margin: 20px 0 20px 0;
	}
	p.content {
		font-size: 1.2em;
		 margin-bottom: 20px;
	}
	p.share {
		margin-bottom: 20px;
		color: $heading_color;
    margin-bottom: 50px;
		width: 100%;
		.share_text {
			float:left;
    	margin-right: 20px;
   		padding-top: 3px;
		}
		a {
			float:left;
			margin-right: 20px;
		}
		.addthis_button_google_plusone{
			width: 60px;
		}
	}
}

#page.social div.article:last-child {
	border-bottom:none;
}

#page h2.question {
	cursor:pointer;
	margin-bottom:20px;
}

#page h2.heading {
	margin-top:40px;
	color: $heading_color;
	font-size: 1.8em;
	border-bottom:1px solid #000000;
}

#page div.answer {
	padding:20px 20px 0 20px;
	margin-bottom:20px;
	border-radius: 5px;
	background-color: $background_color;
	display:none;
	p {
		padding-bottom:20px;
		margin-bottom:0;
	}
}