@import "variables";

#page #header_content {
	width: 100%;
	background-color: $background_color;
	color: $heading_color;
	font-size: 1.2em;
	min-height:200px;
	line-height:200px;
}

#page #left_content {
	float:left;
	width: 80%;
}

#page #right_content {
	float:left;
	width:20%;
}

#page #right_content div {
	background-color: $background_color;
	width:100%;
	margin-bottom:5px;
}