@import "variables";

#product {
	float:left;
	width: 100%;
}

#product h1 {
  margin-top: 5px;
	margin-bottom: 40px;
}

#product h3 {
	margin-bottom:10px;
	font-size: 1.1em;
}

#product #image_column {
	float:left;
	width:33.3%;
}

#product #product_image {
	cursor:pointer;
}

#product #product_content_column {
	float:left;
	width: 66.6%;
}

#product #product_content_column #product_content_wrapper {
	margin-left:15px;
	float:left;
}

#product .image {
	text-align:center;
}

#product #top_content_wrapper{
	float:left;
	width:100%;
	margin-bottom:10px;
}

#product #options{
	float:left;
}

#product #cart_content {
	float:left;
	width: 40%;
}

#product #cart_content #top_right_wrapper {
	margin-left:10px;
}

#product #cart, #product #rating, #product #social {
	float:left;
	width:100%;
}

#product #content_nav {
	clear:both;
	width: 100%;
	float:left;
	margin-bottom: 20px;
}

#product #content_nav ul {
	height: $button_height;
	background-color: $background_color;
	li {
		height: $button_height;
		padding: 0px 15px 0 15px;
		float:left;
	    font-size: 1.1em;
		line-height: $button_line_height;
    	letter-spacing: 1px;
		position:relative;
		cursor: pointer;
	}
	li.selected {
		color: #fff;
		background-color: $heading_color;
		&:after {
			border-color: $heading_color transparent;
		    border-style: solid;
		    border-width: 10px 10px 0;
		    bottom: -10px;
		    content: "";
		    display: block;
		    left: 15px;
		    position: absolute;
		    width: 0;
		}
	}
}

#product #social .row {
	float:left;
	width:110px;
}

#product .content_box {
	background-color: $background_color;
	width:100%;
	margin-bottom:10px;
	float:left;
	.content_box_wrapper {
		padding:10px;
		float:left;
	}
}

#product #options {
	width:60%;
	min-height: 225px;
	margin-bottom:0;
}

#product #options .content_box_wrapper {
	padding: 20px;
    padding: 5%;
    width: 90%;
}

#product .addthis_button_google_plusone {
	height:28px;
}

#product #cart, #product #related_products_header {
	background-color: $heading_color !important;
	cursor: pointer;
	color: #fff;
	height: $button_height;
	line-height: $button_line_height;
	.cart_wrapper {
		padding-left: 10px;
	    font-size: 1.1em;
	    letter-spacing: 1.2px;
	}
}

#product #cart {
	position: relative; 
	img {
		position: absolute;
		top: 11px;
		right: 15px;
	}
}

#product #related_products_header {
	height:$button_height;
	line-height:$button_line_height;
	cursor: default;
	position:relative;
	margin-top:20px;
    font-size: 1em;
    letter-spacing: 1.2px;
	&:after {
		border-color: $heading_color transparent;
		border-style: solid;
		border-width: 10px 10px 0;
		bottom: -10px;
		content: "";
		display: block;
		left: 15px;
		position: absolute;
		width: 0;
	}
}

#product .button {
	height:$button_height;
	line-height:$button_line_height;
	cursor: pointer;
	position:relative;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}

#product #rating ul li{
	float:left;
	color: $heading_color;
	margin-right:10px;
	cursor:pointer;
}

#product #enlarge{
	margin-bottom:10px;
	a {
		color: #000;
	}
	img{
		vertical-align:middle;
	}
}

#product #rating h3{
	font-size: 1em;
	img {
		vertical-align: middle;
	}
	#stars {
		margin-bottom:2px;
		margin-left:5px
	}
}

#product .content_div{
	float:left;
	width:100%;
}

#product #description .left_panel {
    border-right: 1px solid #CECECE;
    float: left;
    padding-right: 20px;
    width: 60%;
}

#product #description .right_panel {
	width: 35%;
	float:left;
}

#product #description .right_panel .right_panel_wrapper {
	margin-left:20px;
} 

#product #description p {
	line-height: 20px;
	text-align:justify;
}

#product #description ul {
	list-style-type:disc;
	padding-left: 10px;
	li {
		margin-bottom: 5px;
	}
}

#product #description p.highlight {
	font-size: 1.3em;
	color: $heading_color;
	line-height: 25px;
}

#product #reviews, #product #review_form {
	display: none;
}

#product div.color_circle {
    background: none repeat scroll 0 0 #000000;
    border-radius: 9px 9px 9px 9px;
    height: 18px;
    line-height: 18px;
    width: 18px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

#product #review_nav_list {
	font-size: 90%;
}

#product div.white_circle  {
	border:1px solid #000;
	width:16px; 
	height:16px;
}

#product div.colors {
    float:left;
    width: 100%;
}

#product img.option {
	width:80px;
	background-color:#ffffff;
	border:3px solid #ffffff;
	margin-right:10px;
}

#product img.selected {
	border:3px solid #000000;
}

#product .option_wrapper {
	clear:both;
	float:left;
}

#product .option_header {
	font-size: 1.1em;
	letter-spacing: 1px;
	margin-bottom:5px;
	margin-top:15px;
	color: #696969;

}

#product .option_header.additional_lids {
	color: $heading_color
}

#product .option_wrapper.first {
	width:65%;
}

#product .option_wrapper.first .option_header{
	margin-top:0;
}

#product #quantity_div {
	position:absolute;
	right:35px;
	top:5px;
}

#product #quantity {
	width: 25px;
	padding-left:15px;
	padding-top:4px;
	border:none;
	height:auto;
}

#product .option_text {
	font-weight:bold;
	color:#000000;
}

#product #color_header {
	margin-top:15px;
}

#product .image {
	position:relative;
}

#product #loadingImage { 
  display:none; 
  position:absolute; 
  background:#fff;
  top:0;
  padding-top:100px;
  width:100%;
  height:100%;
}

#product #loading_image { 
  position:absolute; 
}

#product .customer_review .posted_by, #product .customer_review .star_rating  {
	margin:0;
}

#product .customer_review .posted_by .name {
	color:$heading_color;
}

#product .customer_review .review_body{
	margin-bottom: 40px;
}

#product .customer_review h3{
	font-size: 1.1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

#product #new_review input[type='text'] {
    /*border: 1px solid #CCCCCC;
    color: #777777;
    height: 28px;
    padding-left: 5px;*/
    width: 400px;
}

#product #new_review textarea {
	width:395px;
	padding:5px; 
	height:190px;
	border:1px solid #CCCCCC;
}

#product .related_products {
	float:left;
	.related_product {
		float:left;
		width:50%;
		font-size: 90%;
	}
	.image {
		text-align:center;
	}
}

#product #options .content_box_wrapper {
	position:relative;
}

#product #star {
	margin-top:10px;
}

#product h4 a {
	color:#000000;
	letter-spacing: 1px;
}

#product h4 a:hover {
	color: $primary_color;
}

#product img.option {
	cursor: pointer;
}

#product #top_content {
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
	float: left;
	padding-bottom: 20px;
}

#product #related_products {
	float: left;
	width: 33.33%
}

#product .right_panel p {
	color: $heading_color;
	font-size: 1.1em;
}

#product #cart_content.no_options {
	width: 60%;
}

#product #price  {
	margin-top: 10px;
	font-size: 1.1em;
	text-align: right;
}

#product #quantity_input {
	text-align: right;
}

#product #options.no_options #quantity_div {
	position: static;
	top: auto;
	right: auto;
}

#product #options #option_main_header {
	height:40px;
	line-height:43px;
	font-size: 1.1em;
	background-color: $heading_color;
	color: #FFFFFF;
  letter-spacing: 1.2px;
  padding-left: 10px;
	.option_text {
		color: #FFFFFF;
	}
}

#product #options.no_options #option_main_header {
	background-color: #EFEFEF;
}

#product #options #option_main_header.out_of_stock {
	background-color: $primary_color;
	text-align:center;
}

#product #quantity_div .option_header {
	margin-bottom:10px;
}

#product #options.no_options #quantity_input, #product #options.no_options #price{
	text-align: center;
}

#product #options.no_options {
	width: 40%;
	text-align:center
}

#product #price {
	margin-top: 20px;
}

#product #price_text {
	margin-right: 20px;
}