// Place all the styles related to the Socials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#page.social .left_content {
	width: 220px;
	float:left;
}

#page.social .right_content {
   min-width: 700px;
   padding-left: 20px;
}

#page.social h3 {
	color: $heading_color;
	font-weight:normal;
	border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding-bottom: 10px;
	width:160px;
}

#page.social #join_us li{
	a {
		color: #000000;
		img{
			float:left;
			margin-right:5px;
		}
		div {
			float:left;
			padding-top:7px;
		}
	}
	a:hover {
		color: $primary_color;
	}
	height:30px;
	margin-bottom: 10px;
}

#page.social #add_content {
	margin-bottom: 20px;
	cursor: pointer;
}

#page.social div.article {
	h2 {
		font-size: 1.6em;
		margin-bottom: 0;
	}
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid black;
	p.shared_by {
		float:left;
		width:100%;
		font-style:italic;
		margin-top:5px;
		margin-bottom:3px;
		color: #777777;
		.shared_by_name {
			font-style: normal;
			text-align:center;
			img {
				display:block;
			}
		}
	}
	p.posted {
		color: #777777;
	}
	p.image {
		margin: 20px 0 20px 0;
	}
	p.content {
		font-size: 1.2em;
		 margin-bottom: 20px;
	}
	p.share {
		margin-bottom: 20px;
		color: $heading_color;
    margin-bottom: 50px;
		width: 100%;
		.share_text {
			float:left;
    	margin-right: 20px;
   		padding-top: 3px;
		}
		a {
			float:left;
			margin-right: 20px;
		}
		.addthis_button_google_plusone{
			width: 60px;
		}
	}
}

#page.social div.article:last-child {
	border-bottom:none;
}

.no-close {
	box-shadow: 1px 1px 20px #444444;
}

.no-close .ui-dialog-titlebar {
	display: none;
}

#social_form, #social_story_form {
	margin-top:20px;
}

#add_content_dialog {
	ul {
		margin-top:8px;
		width: 460px;
		height: $button_height;
		background-color: #AAAAAA;
		li {
			width: 200px;
			text-align:center;
			height: $button_height;
			padding: 0px 15px 0 15px;
			float:left;
		  font-size: 1.1em;
			line-height: 40px;
	    letter-spacing: 1px;
			position:relative;
			color: #fff;
			cursor: pointer;
		}
		li.selected {
			background-color: $heading_color;
			&:after {
				border-color: $heading_color transparent;
			    border-style: solid;
			    border-width: 10px 10px 0;
			    bottom: -10px;
			    content: "";
			    display: block;
			    left: 100px;
			    position: absolute;
			    width: 0;
			}
		}
	}
	input[type="text"],input[type="file"] {
		background-color: #efefef;
		width:215px;
		border:none;
	}
	textarea {
		width:450px;
		height: 100px;
		background-color: #efefef;		
		border:none;
	}
}

.field {
	font-size:.9em;
}

.field_left {
	width:220px;
	float:left;
	margin-right: 18px;
}

.field_right {
	width:220px;
	float:left;
}

#social_form .button, #social_story_form .button {
	font-size: 1em;
}

#social_form .cancel_button, #social_story_form .cancel_button {
	background-color:#AAAAAA !important;
	margin-right:20px;
}

.fine_print{
	margin-top:10px;
	color: #aaa;
	font-size:.8em;
	a {
		text-decoration:underline;
		color: #aaa;
	}
}