$primary_color: #ff9a21;
$secondary_color: #000000;
$tertiary_color: #ffffff;
$background_color: #efefef;
$footer_text_color: #777777;
$input_border_color: #efefef;
$input_text_color: #777777;
$selected_nav_color: #404040;
$heading_color: #00AAFF;
$button_height: 40px;
$button_line_height: 43px;