<div id="category_content">
  <div id="breadcrumb"><%= link_to "Home", root_url %> &raquo; <%= @category.name %></div>
  <h1 class="cat_header"><%= @category.name %></h1>
	<% if @category.products.exists? %>
  <div class="category_row">
    <%= render partial: 'product', collection: @category.products %>
  <% end %>
</div>